h1{
    color:red;
    font:;
    margin-left:10%;
    }
    .nav a{
        text-decoration:none;
        margin-left:10%;
    }
    .nav {
        background-color:antiquewhite;
        padding: 20px;
    
    }